* {
	margin: 0;
	padding: 0;
}

html {
	font-family: 'Montserrat', sans-serif;
	font-family: 'Nunito', sans-serif;


	/* Navbar Section */
}

a{
	text-decoration: none;
	color: black;
}

li{
	list-style-type: none;
}

#navbar{
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-size: 14px;
	height: 90px;
	border-bottom: 1px solid #ccc;
	
	background-color: white;
	box-shadow: 0 0 5px 0 #ccc;
	z-index: 1;
}

#navbar ul {
	display: flex;
	align-items: center;
	padding-left: 180px;
}

#navbar ul li{
	padding: 10px 10px 10px 10px;

}

#navbar ul .button-1{
	color: #542281;
	border: 1px solid #542281;
	font-size: 18px;

}

#navbar ul .button-2{
	background-color: #542281;
	border: 1px solid #542281;
	margin-left: 13px;
}

#navbar ul .button-2 a{
	color: white;
	font-size: 18px;
}


#navbar ul .button-2:hover{
	opacity: 0.6;
}


#main .hero{
	height: 70vh;
	width: 100%;
	background-image: url(b.jpg);
	background-size: cover;
	background-position: center;
	
}

#badges{
	display: flex;
	flex-direction: column;
	height: 50vh;
	background-color: #FAFAFA;
}

#badges .heading{
	font-size: 35px;
	margin: auto;
	width: 70%;
	text-align:center;
	margin-top: 50px;
}

#badges .logos{
	width: 90%;
	margin: auto;
	text-align: center;
}

#badges .logos img{
	width: 200px;
}


#courses{
}
#courses .cards{
	display: flex;
	justify-content: center;
}

#courses .card{
	margin: 15px;
	width: 17%;
	box-shadow: 8px 8px 16px 8px rgba(0,0,0,0.2);
	text-align: center;
	height: 105vh;

}


#courses .card img{
	width: 200px;
	padding-top:10px;
	text-align: center;
}


#courses .card .content{
	padding:30px;
	font-size: 16px;
	line-height: 28px;
}

#courses .card .content a{
	font-size: 20px;
	color: #542281;
	font-weight: 700;
	text-decoration: underline;
	display: inline-block;
	padding-top:40px;
	
}

#courses .cards .card .content h2{
	text-align: center;
	font-size: 20px;
	padding-bottom: 10px;
}


#courses .heading{
	padding: 50px;
	text-align: center;
	font-size: 23px;
}

.çizgi{
	width: 150px;
	height: 3px;
	background-color: #7c7c7c7c;
	margin: auto;
	margin-top: 5px;
}


#info{
	background-color: #FAFAFA;
}

#info .body{
	display: flex;
	width: 80%;
	margin: auto;
	padding-top: 60px;
}

#info .body .content{
	padding: 40px;
}

#info .body .content h5{
	font-size: 30px;
	padding-bottom: 25px;
	
}

#info .body .content p{
	font-size: 16px;
	line-height: 30px;
	
}

#info .body .content .register{
	padding: 6px 20px;
	margin-top: 40px;
	font-size: 24px;
	border: 1px solid rgba(129,76,143,0.25);
	color: #542281;
	background-color: #fff;
	display: inline-block;
	font-weight: 600 !important;
	opacity: 0.8;
	font-family: 'Nunito', sans-serif;
	z-index: -1;
	
}



#info .body .image img{
	width: 600px;
	padding-top: 80px;
}

#contact{
	background-image: linear-gradient(180deg,rgba(6,118,216,0.15) 0%,#ffffff 100%);

}

.contact{
	display: flex;
	width: 80%;
	margin: auto;
	padding-top: 100px;

}

.contact .video{
	width: 50%;
	margin: auto;
	text-align: center;
}

.contact .video h1{
	font-size: 40px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;

}

.contact .video p{
	margin-bottom: 80px;
	font-size: 16px;
	font-family: 'Nunito', sans-serif;
	font-weight: 550;


}

.contact .video img{
	width: 500px;
}

iframe{
	border: none;
}

.form{
	margin: auto;
	text-align: center;
}

.form .form-group{
	padding: 10px;
	display: flex;
	flex-direction: column;
}

.form .form-group input{
	padding: 10px;
	border: none;
	background-color: transparent;
	border-bottom: 1px solid black;
	
}

.form .form-group label{
	font-size: 16px;
	text-align: left;
	font-weight: 700;
	color: #132C47;
	
}

.formButton{
	border: 1px solid black;
	padding: 10px;
	width: 100%;
	background-color: white;
	border-radius: 5px;
	margin-top: 100px;
	cursor: pointer;
}


.cards{
	height: 150vh;
}

.cards h1{
	text-align: center;
	padding: 80px;
	font-size: 35px;
}

.cards .cards-2{
	display: flex;
	justify-content: center;
}

.cards .card{
	width: 18%;
	box-shadow: 10px 16px 16px 10px rgba(0,0,0,0.2);
	margin: 15px;
	height: 60vh;

}

.cards .card .fa-tags{
	font-size: 100px;
	color: #542281;
	display: inline-block;
	width: 50%;
	text-align: center;
	padding: 30px;
	background-color: #ccc;
	border-radius: 100%;

}

.cards .card .content{
	text-align: center;
	padding: 35px;

	
}

.cards .card .content h5{
	font-size: 25px;
	color: #542281;
	padding: 5px 5px 10px 5px;

}

.cards .card .content p{
	font-size: 20px;
	font-weight: 600;
	color: #333;
	padding: 5px 3px 40px 3px;

}

.cards .card .content a{
	font-weight: 600;
	color: #542281;
}

.footer{
	display: flex;
	justify-content: space-around;
	background-color: #242424;
	padding: 155px;
}

.footer .sec{
	width: 20%;
	
}

.footer .sec ul li{
	padding: 5px;
	color: #bfbfbf;
	list-style-type: none;
}

.footer .sec a{
	color: white;
}

.footer .sec p{
	line-height: 25px;
}

.footer .sec input{
	padding: 15px;
	background-color: #242424;
	border: none;
	border: 1px solid white;
	margin-bottom: 30px;
}

.footer .sec .button{
	padding: 15px 65px;
	
	background-color: white;
	color: black;
}

.footer .sec ul .footer-heading{
	color: white;
	font-size: 20px;
	text-decoration: underline;
	font-weight: 800 !important;
}

.footer-heading{
	color: white;
	font-size: 20px;
	text-decoration: underline;
	margin-bottom: 5px;
	font-weight: 800 !important;

}

.footer .sec .footer-heading-2 li a{
	color: #bfbfbf;
	text-decoration: underline;
}

.footer .sec .footer-heading-2{
	margin-top: 50px;
}


.footer .sec .social-media{
	display: flex;
}

.footer .sec .deneme i{
	padding-right: 15px;
}

.footer .sec .deneme .fa-whatsapp{
	color: #25D366;
	font-size: 25px;
}

.footer .sec .social-media li{
	background-color: #4267b2;
	padding: 10px 15px;
	border-radius: 100%;
	margin: 0 15px;
	margin-left: 0;
	margin-top: 15px;
	margin-bottom: 15px;
	font-size: 20px;
	
}

.footer .sec .quick-links{
	margin-top: 50px;
}


.footer .sec .simple-title{
	color: white;
	font-size: 18px;
	font-weight: 500 !important;
}


.author{
	background-color: firebrick;
}

.author p{
	padding: 25px;
	text-align: center;
	color: #ccc;
}



